<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="save" method="post">
        {%csrf_token%}
        <p>Your Name:<input type="text" name="fname"></p>

        <p>Dojo Locations:
            <select name="location">
                <option value="San Jose">San Jose</option>
                <option value="Brazil">Brazil</option>
                <option value="Burundi">Burundi</option>
                <option value="Palestine">Palestine</option>
            </select>
        </p>
        <p>Favorite Language:
            <select name="language">
                <option value="Python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="PHP">PHP</option>
            </select>
        </p>
        <p>Comment (optional):</p>
        <textarea name="comment"></textarea>
        <br>
        <input type="submit" value="Button" name="Button">
    </form>
</body>

</html>